#phone{
display: grid;
position: relative;
justify-content: space-around;
align-items: center;
height: 80vh;
width:50vh;
background: "red";
grid-auto-rows: 3fr 1fr 8fr;

}
.clock{
height: 100%;
width: 100%;
background-color: #7FFFD4;
}
.search{
  display:grid;
grid-template-columns:70% 30%;
}
.button{
  flex-wrap: wrap;
  border: 0px 0px;
  margin: 0px 0px;
}
.main{
  height: 100%;
  width: 100%;
  background-image: url("https://d-pt.ppstatic.pl/kadry/k/r/1/93/41/5ab22cdeb0fc4_o,size,1068x623,q,71,h,dace02.jpg");
}
