#phone{
display: grid;
position: relative;
justify-content: space-around;
align-items: center;
height: 80vh;
width:50vh;
background: "red";
grid-auto-rows: 3fr 1fr 8fr;

}
.clock{
height: 100%;
width: 100%;
background-color: #F0E68C;
}
.search{
  display:grid;
grid-template-columns:70% 30%;
}
.button{
  flex-wrap: wrap;
  border: 0px 0px;
  margin: 0px 0px;
}
.main{
  height: 100%;
  width: 100%;
  background-image: url("https://gfx.radiozet.pl/var/radiozet/storage/images/co-gdzie-kiedy-jak/dluzszy-dzien-od-kiedy-dluzszy-dzien-i-krotsza-noc/364199-1-pol-PL/Dluzszy-dzien-od-kiedy-dluzszy-dzien-i-krotsza-noc_article.png");
background-size: cover;
background-position: center;
}
